@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    .mobile-search-bar {
        display: none;
    }
    .laptop-search-bar {
        display: block;
        position: relative;
    }
    .position-search-icon {
        position: absolute;
        top: 4px;
        left: 170px;
    }

    .margin-40 {
        margin-left: 40px;
    }

    .dropdown-card {
        margin-top: 2em;
        width: 150px;
        background-color: theme('colors.d-gray-4');
        color: theme('colors.n-blue-1');
        display: none;
    }

    /* Hero section  */
    .hero {
        width: 100%;
        height: 500px;
        background-image: url('../../assets/imgs/hero_background.jpg');
        background-size: fit-content;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .flex-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tracking {
        letter-spacing: 15px;
    }

    .hero-paragraph {
        width: 80%;
        color: #fff;
    }

    .hero-cta {
        display: block;
        padding: .8em;
        background-color: theme('colors.wild-red');
        color: theme('colors.white');
        box-shadow: 0px 5px 10px 0px theme('colors.d-gray-2') inset;
        border-radius: 30px;
        width: 40%;
        text-align: center;
        margin-top: 2em;
        transform: translateX(50%)

    }

    /* The main styles section */

    /* Styles section recomender */
    .pdt-wrapper {

    }

    .card {
        width: 230px;
        height: 350px;
        border: 45px solid theme('colors.d-gray-1');
    }

    .card-img {
        width: 100%;
        height: 100%;
        background-image: url('../../assets/imgs/book_sample.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: feConvolveMatrix;
    }

    /* Slider section */

    .slider-section {
        width: 100%;
        height: 60vh;
        background-image: url('../../assets/imgs/banner_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}